---
import PageAnimation from "../components/PageAnimation.astro"
import Layout from "../layouts/Layout.astro"

---

<Layout title="Not found">
  <PageAnimation>
  <h1>404 - Page not found</h1>
  <p>Sorry, we couldn't find the page you were looking for.</p> 
  </PageAnimation>
</Layout>