---
import Layout from '../layouts/Layout.astro';
import Tech from '../components/Tech';
import PageAnimation from '../components/PageAnimation.astro';
import { motion } from 'framer-motion';
---

<Layout title="lassejlv">
  <PageAnimation>
    <div class="flex flex-col items-center justify-around my-5">
      <img
        src="/lasse.jpg"
        alt="lasse"
        class="mt-5 rounded-full grayscale hover:grayscale-0 transition duration-300 ease-in-out animate-pulse cursor-pointer"
        width={200}
        height={200}
        loading="lazy"
      />

      <motion.div className="my-3">
        <h1 class="text-3xl font-bold italic">hi 👋</h1>

        <p class="text-lg italic whitespace-pre-line" id="aboutLine"></p>
      </motion.div>
    </div>

    <div class="mt-5" id="tech">
      <h1 class="text-2xl text-center font-bold">technologies i work with</h1>

      <Tech client:idle />
    </div>
  </PageAnimation>
</Layout>

<script>
  const line = document.getElementById('aboutLine') as HTMLParagraphElement;
  const about = `I’m Lasse, a full-stack web developer with 5+ years of experience, based in Aalborg, Denmark. I’m currently studying at <a href="https://www.techcollege.dk">Tech College</a>.`;

  let i = 0;
  let tempStr = '';
  const type = () => {
    if (i < about.length) {
      if (about.charAt(i) === '<') {
        line.innerHTML = tempStr + about.slice(i);
        return;
      } else {
        tempStr += about.charAt(i);
        line.textContent = tempStr;
      }
      i++;
      setTimeout(type, 50);
    } else {
      line.innerHTML = about;
    }
  };

  type();
</script>
